# Import Require Modules

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score, confusion_matrix, recall_score, precision_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('../data-sets/fitness-data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9009 entries, 0 to 9008
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   epoch (ms)       9009 non-null   object
 1   Accelerometer_x  9009 non-null   float64
 2   Accelerometer_y  9009 non-null   float64
 3   Accelerometer_z  9009 non-null   float64
 4   Gyroscope_x      9009 non-null   float64
 5   Gyroscope_y      9009 non-null   float64
 6   Gyroscope_z      9009 non-null   float64
 7   Participants     9009 non-null   object
 8   Label            9009 non-null   object
 9   Category         9009 non-null   object
 10  Set              9009 non-null   int64
dtypes: float64(6), int64(1), object(4)
memory usage: 774.3+ KB

In [3]:
df.set_index('epoch (ms)', inplace=True)
df.head()

                         Accelerometer_x  Accelerometer_y  ...  Category  Set
epoch (ms)                                                 ...
2019-01-11 15:08:05.200         0.013500         0.977000  ...     heavy   30
2019-01-11 15:08:05.400        -0.001500         0.970500  ...     heavy   30
2019-01-11 15:08:05.600         0.001333         0.971667  ...     heavy   30
2019-01-11 15:08:05.800        -0.024000         0.957000  ...     heavy   30
2019-01-11 15:08:06.000        -0.028000         0.957667  ...     heavy   30

[5 rows x 10 columns]

In [12]:
def map_to_replace(columns):
    mapValue = {}
    i = 0
    for col in columns:
        if df[col].dtype == 'object':
            for unique_val in df[col].unique():
                mapValue[str(unique_val)] = i
                i+=1
            df[col] = df[col].map(mapValue)
            mapValue = {}
            i = 0

map_to_replace(['Label', 'Category', 'Participants'])

In [14]:
df.corr()

                 Accelerometer_x  Accelerometer_y  ...  Category       Set
Accelerometer_x         1.000000        -0.329335  ...  0.446361  0.040796
Accelerometer_y        -0.329335         1.000000  ... -0.393955  0.117328
Accelerometer_z         0.439909        -0.000166  ...  0.157450 -0.196624
Gyroscope_x             0.001259        -0.003407  ... -0.004451  0.004208
Gyroscope_y             0.017339         0.004215  ...  0.007078  0.004790
Gyroscope_z            -0.017074         0.004397  ...  0.011547  0.006235
Participants            0.102529        -0.144995  ... -0.046801 -0.115199
Label                   0.592469        -0.812247  ...  0.620994 -0.097226
Category                0.446361        -0.393955  ...  1.000000 -0.064079
Set                     0.040796         0.117328  ... -0.064079  1.000000

[10 rows x 10 columns]